textarea {
   min-height: 25vh;
   width: 100%;
}
.error {
   background: red;
   color: white;
}
.output input[type=text], .output select {
    border: 1px solid silver !important;
    padding: 0.5em 1em !important;
    margin: 0.5px !important;
    width: 200px !important;
}