<html>
  <head>
    <style>
      table, th, td {
        border: 1px solid #e1e1e1;
        border-collapse: collapse;
      }
      td { width: 50px; }
      .formula { background-color: #f1f1f1; }
    </style>
  </head>
  <body>
    <div id="target">
      <div style="overflow-x:scroll;">
        <table>
          <tbody>
            <tr>
              <th>{{selected_key}}</th>
              <td colspan="26">
                <input ref="input" v-if="selected_key" v-model="selected_value" style="width:100%"/>
              </td>
            <tr>
              <th></th><th v-for="c in cols">{{c}}</th>
            </tr>
            <tr v-for="r in rows">
              <th>{{r}}</th>
              <td v-for="c in cols" v-on:click="select(c+r)" 
                  v-bind:class="{'formula':cells[c+r].substr(0,1)=='='}">
                {{values[c+r]}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="js/vue.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/math.min.js"></script>
  <script src="js/main.js"></script>
</html>
